.titleOne{
    background-color: deepskyblue;
}

.titleTwo{
    background-color: deepskyblue;
}

.navbar{
    background-color: red;
}

.imgUniv{
    width: 20%;
}
.imgEmpty{
    border-style:solid ;
}
.footer{
    background-color: red;
}